/* home.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    background: url('https://21614986.fs1.hubspotusercontent-na1.net/hubfs/21614986/2024%20BFT%20Website%20Images%20Resized/bft-2.webp') no-repeat center center fixed;
    background-size: cover;
}

.home {
    position: relative;
    z-index: 1;
}

.home::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.164); /* Dark overlay to enhance readability */
    z-index: -1;
}

.home .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
    height: 300px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    /*background: url('https://t1.uc.ltmcdn.com/es/posts/1/0/4/beneficios_del_fitness_52401_1_600.webp') no-repeat center center;
    */background-size: cover;
    position: relative;
}

.home .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text readability */
    border-radius: 10px;
}

.home .banner h1, .home .banner p {
    position: relative;
    z-index: 1;
}

.home .banner h1 {
    font-size: 3rem;
    margin: 0;
}

.home .banner p {
    font-size: 1.5rem;
    margin: 0;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 15px;
}

.infoSection {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.363);
    overflow: hidden;
    width: 90%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.infoSection:hover {
    transform: translateY(-10px);
}

.infoSection h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.infoSection p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.infoSection img {
    width: 100%;
    height: auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100px;
    background-color: #000000;
    color: white;
    font-weight: 800;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .contact a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer .contact a:hover {
    color: #ccc;
}

#ult {
    margin-bottom: 100px;
}
